.ex-1-square{
    transition: 4s;
}
.ex-1-square:hover{
    background-color: red;
  border: solid 5px blue;
}

.ex-2-square{
    transition: 2s;
}
.ex-2-square:active{
    width: 400px;
    background-color: blue;
}